<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Показания</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('blocks/menu.ejs') %>
    <h1>Передать показания:</h1>
    <form method="post" action="/add">
         <%for(let key in data){%>
            <%if(key == 'name'){ %>
                <% continue;%>
                <%}else if(key=='ЛС'){%>
                    <input name=<%=key%> type="text" placeholder=<%=key%>><br>
                <% }else if(key == 'resources'){%>
                    <%for(let i = 0; i<data[key].length; i++) {%>
                        <%for(let j in data[key][i]){ %>
                            <%if(j == 'name'){ %>
                                <% continue;%>
                                <% }else {%>
                                    <input name=<%=data[key][i]['name']+ ':' + j %> type="text" placeholder=<%=data[key][i]['name']+ ':' + j %>><br>
                                <% } %>
                                <% } %>
                                <% } %>
                                <% } %>
            <% } %>
            <button type="submit">Добавить</button>
        
    </form>
</body>
</html>